---
export interface Props {
	title: string;
}

const { title } = Astro.props;

import Navigation from '../../components/navigation';
import LeftNavigation from '../../components/LeftNavigation';
import LeftPanel from '../../components/LeftPanel';
import MainPage from '../../components/MainPage';


export function getStaticPaths(){
	const snippets =
        [
            {folders:'Salman', foldername:`Salman's Folder`, subfolder:['o/intro']},
            {folders:'untitle', foldername:'Untitled Folder', subfolder:['o/intro']},
            {folders:'pro', foldername:'o/pro', subfolder:[]},
        ]
	return snippets.map( ({folders, foldername}) => {
		return{
			params: {folders},
			props: {folderValue: foldername}
		}
	})
}


const {folders} = Astro.params
const {folderValue, subfolder} = Astro.props

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{folders}</title>
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
		</style>
	</head>
	<body class="font-inter overflow-clip">
		<Navigation  client:load/>
		<LeftNavigation client:load />
		<LeftPanel client:load />
		
		<!-- <RightPage client:load/>
			<FolderName client:load/>
			<PersonalFolder client:load/> -->
		<MainPage folderValue={folderValue} name={folders} client:load/>
	</body>
</html>